In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('placement.csv')
data.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0

In [4]:
data.shape

(1000, 3)

In [5]:
data.isnull().sum()

cgpa                    0
placement_exam_marks    0
placed                  0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cgpa                  1000 non-null   float64
 1   placement_exam_marks  1000 non-null   float64
 2   placed                1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 23.6 KB

In [10]:
data.describe()

              cgpa  placement_exam_marks       placed
count  1000.000000           1000.000000  1000.000000
mean      6.961240             32.225000     0.489000
std       0.615898             19.130822     0.500129
min       4.890000              0.000000     0.000000
25%       6.550000             17.000000     0.000000
50%       6.960000             28.000000     0.000000
75%       7.370000             44.000000     1.000000
max       9.120000            100.000000     1.000000

In [11]:
X = data.drop('placed',axis=1)
y = data['placed']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr

LinearRegression()

In [15]:
lr.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(X_test)
y_pred

array([0.49991686, 0.49743828, 0.46502484, 0.50914035, 0.51560049,
       0.50314478, 0.46966799, 0.48160838, 0.50305273, 0.51158108,
       0.48864235, 0.51148903, 0.49884491, 0.50558981, 0.4747258 ,
       0.51560479, 0.49005327, 0.49939377, 0.48181397, 0.49412259,
       0.47908418, 0.49092822, 0.45893722, 0.42488312, 0.52516295,
       0.50104302, 0.51386696, 0.5015747 , 0.47111676, 0.48478639,
       0.50301918, 0.52252522, 0.48501264, 0.47447458, 0.50315767,
       0.49725417, 0.49157691, 0.47587692, 0.51609433, 0.44430488,
       0.51048417, 0.4638995 , 0.51242248, 0.5091068 , 0.47038808,
       0.49329756, 0.51392976, 0.50628495, 0.48233706, 0.51337312,
       0.49492615, 0.4455902 , 0.51556265, 0.49374148, 0.47702804,
       0.49496829, 0.45618676, 0.50615504, 0.45261987, 0.51421882,
       0.49167756, 0.49719995, 0.48256332, 0.46722295, 0.49129645,
       0.48829478, 0.49864443, 0.43202981, 0.45856899, 0.51116212,
       0.50650261, 0.50700074, 0.43518634, 0.46443036, 0.50985614,
       0.47063929, 0.50050275, 0.45022905, 0.50556056, 0.43801678,
       0.51427733, 0.51054268, 0.48005548, 0.49963639, 0.51050913,
       0.47499767, 0.48861309, 0.48700087, 0.48180109, 0.49562128,
       0.47468365, 0.46575352, 0.51135483, 0.4889357 , 0.44303674,
       0.46187608, 0.52842443, 0.50771224, 0.48746974, 0.49641706,
       0.48649415, 0.48291088, 0.48890992, 0.477447  , 0.50688373,
       0.47226788, 0.49867368, 0.43675642, 0.51591021, 0.4590215 ,
       0.46773397, 0.4477341 , 0.50395693, 0.49846809, 0.51914243,
       0.50368506, 0.50216918, 0.45867823, 0.46948817, 0.46903995,
       0.48134857, 0.49111663, 0.46035244, 0.51801627, 0.49591893,
       0.50898549, 0.51009447, 0.42563676, 0.47829269, 0.50948362,
       0.4514309 , 0.41187078, 0.50626858, 0.50315767, 0.47644215,
       0.43538763, 0.46230793, 0.47844326, 0.48772955, 0.49856444,
       0.49254822, 0.5089726 , 0.50522159, 0.46855042, 0.49513522,
       0.49060991, 0.48788441, 0.51503097, 0.49313493, 0.52275147,
       0.50563196, 0.51030006, 0.42788909, 0.50756597, 0.50595457,
       0.48248333, 0.50013452, 0.50318263, 0.50481551, 0.5028144 ,
       0.45855692, 0.5044972 , 0.48164193, 0.51589732, 0.46798519,
       0.49866939, 0.46795164, 0.51919664, 0.51386696, 0.48793862,
       0.49399269, 0.5155291 , 0.49399699, 0.48916973, 0.51103304,
       0.50082536, 0.48346752, 0.49907546, 0.50763307, 0.50417889,
       0.49208793, 0.5011807 , 0.51565041, 0.48908626, 0.48517957,
       0.50356375, 0.49840958, 0.47227647, 0.44100638, 0.52023075,
       0.46076281, 0.45697825, 0.4858833 , 0.50117722, 0.50308198,
       0.48349248, 0.4914556 , 0.50497467, 0.46986069, 0.51006174,
       0.49809986, 0.49229271, 0.48092614, 0.51089025, 0.50108946,
       0.50553131, 0.51115005, 0.49242691, 0.50378141, 0.47662196,
       0.51587666, 0.45098269, 0.52501239, 0.50427095, 0.49052644,
       0.50740252, 0.46006768, 0.46692183, 0.42371911, 0.47447888,
       0.5060544 , 0.4952195 , 0.4701876 , 0.47256553, 0.50713064,
       0.50072471, 0.47888718, 0.45108333, 0.49421465, 0.51139697,
       0.48757899, 0.47271609, 0.5064441 , 0.50147835, 0.50428383,
       0.50788858, 0.51076894, 0.50539711, 0.51310902, 0.47914269,
       0.45086138, 0.4976181 , 0.49272803, 0.51471265, 0.46011412,
       0.5137078 , 0.46113533, 0.48296939, 0.48622657, 0.51163959])

In [17]:
lr.score(X_train,y_train)

0.0020511659619834033

In [21]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

-494.2187651887901