In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv('train_set.csv')
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

## Data Description

- OGC: Organization Group Code - Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff. 

- OG: Organization Group names

- DC: Department Code - Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

- Dept: Department name

- UC: Union Code - Unions represent employees in collective bargaining agreements. A job belongs to one union, although some jobs are unrepresented (usually temporarily).

- Union: Union names

- JF: Job Family - Job Family combines similar Jobs into meaningful groups.

- Job: Job name

- EI: Employee Identifier

- Salaries: Salary of the employee

- Overtime: Amounts paid to City employees working in excess of 40 hours per week. 

- H/D: Health/Dental - City-paid premiums to health and dental insurance plans covering City employees. To protect confidentiality as legally required, pro-rated citywide averages are presented in lieu of employee-specific health and dental benefits. 

- YT: Year Type - Fiscal (July through June) or Calendar (January through December)

- Total_Compensation: The final compensation i.e. the sum of all salaries and benefits paid to City employees.

In [8]:
data.shape

(287836, 15)

In [9]:
data.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                 36
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [16]:
data['Union'].mode()[0]

'SEIU - Miscellaneous, Local 1021'

In [15]:
data['Union'].value_counts()

SEIU - Miscellaneous, Local 1021                      81349
Prof & Tech Engineers - Miscellaneous, Local 21       36130
SEIU - Staff and Per Diem Nurses, Local 1021          21861
Police Officers' Association                          19177
Transport Workers - Transit Operators, Local 250-A    17804
                                                      ...
Municipal Executive Association - Police                  9
Management Unrepresented Employees - MTA                  7
Port Director                                             6
Municipal Exec Assoc-Misc                                 2
POA                                                       2
Name: Union, Length: 73, dtype: int64

In [18]:
data['Union'] = data['Union'].fillna('SEIU - Miscellaneous, Local 1021')

In [19]:
data.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                  0
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [20]:
data['JF'].mode()

0    Nursing
Name: JF, dtype: object

In [21]:
data['JF'] = data['JF'].fillna('Nursing')

In [22]:
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [23]:
data.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [24]:
data.describe()

,Year,OGC,UC,EI,Salaries,Overtime,H/D,Total_Compensation
count,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000
mean,2014.250104,2.976007,490.540186,26913.060020,63262.713139,4401.037115,8932.876472,97990.329882
std,1.016282,1.575586,333.238723,15539.719696,44638.657748,11079.137749,4894.072024,67750.020573
min,2013.000000,1.000000,1.000000,1.000000,-68771.000000,-12308.000000,-2940.470000,-74082.000000
25%,2013.000000,2.000000,236.000000,13434.000000,23406.000000,0.000000,4358.347500,35977.000000
50%,2014.000000,2.000000,535.000000,27013.000000,62504.500000,0.000000,11982.035000,98033.000000
75%,2015.000000,4.000000,790.000000,40397.250000,93000.250000,2738.000000,12801.790000,142138.250000
max,2016.000000,7.000000,990.000000,53794.000000,515101.000000,227313.000000,21872.800000,653498.000000

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287836 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287836 non-null  int64
 1   OGC                 287836 non-null  int64
 2   OG                  287836 non-null  object
 3   DC                  287836 non-null  object
 4   Dept                287836 non-null  object
 5   UC                  287836 non-null  int64
 6   Union               287836 non-null  object
 7   JF                  287836 non-null  object
 8   Job                 287836 non-null  object
 9   EI                  287836 non-null  int64
 10  Salaries            287836 non-null  int64
 11  Overtime            287836 non-null  int64
 12  H/D                 287836 non-null  float64
 13  YT                  287836 non-null  object
 14  Total_Compensation  287836 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 32.9+ MB

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
# Select relevant features
selected_features = ['Salaries', 'Overtime', 'H/D']

# Create the feature matrix (X) and target vector (y)
X = data[selected_features]
y = data['Total_Compensation']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
X_train

        Salaries  Overtime          H/D
245781     31799        89   6599.99061
255286      1997         0    868.09000
243202      7303      1729   2422.57000
219622     68189     37218  13815.05000
260584     68495     10281  12332.01000
...          ...       ...          ...
119879     81025      4981  11424.53550
259178    103012         0   6400.89000
131932     19722        74   4713.18000
146867     44676         0  10682.46000
121958     84353         0  13054.94000

[230268 rows x 3 columns]

In [33]:
y_train

245781     48581
255286      3027
243202     14235
219622    148874
260584    112136
           ...
119879    139667
259178    136787
131932     26042
146867     75626
121958    122649
Name: Total_Compensation, Length: 230268, dtype: int64

In [39]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [40]:
# Training the model on the training data
model.fit(X_train, y_train)

LinearRegression()

In [41]:
# Making predictions on the test data
y_pred = model.predict(X_test)

y_pred

array([116526.61080517,  61512.21453169,  86183.27060672, ...,
        95603.33498013,  45994.55955129,  17407.91127735])

In [46]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 58646458.49